body, html {
    margin: 0px;
    padding: 0px;
}
#nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(87, 87, 87);
}

#navDiv {
    display: flex;
    justify-content: space-around;
}