body, html {
    margin: 0px;
    padding: 0px;
}
#nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(87, 87, 87);
}

#navFlexDiv {
    display: flex;
    justify-content: right;
    padding-right: 2.5%;
}

.navButton {
    padding: 10px;
    margin: 5px;
    border-radius: .275rem;
}