body, html {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 252, 255);
}

#nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(
        25deg,
        rgb(162, 215, 240), 
        rgb(135, 255, 189),
        rgb(135, 255, 189),
        rgb(162, 215, 240)
    );
    position: fixed;
    width: 100%;
}

#navFlexDiv {
    display: flex;
    justify-content: right;
    padding-right: 2.5%;
}

.navButton {
    padding: 10px;
    margin: 5px;
    border-radius: .275rem;
    background-color:rgb(92, 133, 151);
    border: none;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px rgb(59, 59, 59);
}
.navButton:hover{
    background-color: rgb(68, 98, 110);
}
.navButton:active{
    transform: scale(0.9);
}

#mainContainer {
    background-color: rgb(245, 252, 255);
    background-position: center;
    background-size: contain;
    padding-top: 150px;
    padding-bottom: 100px;
}

#homePageContainer {
    text-align: center;
}

#homeBodyDiv {
    width: 80%;
    margin: 20px auto 0px auto;
    text-align: left;
    font-size: x-large;
    hyphens: auto;
}

.homeBodyInnerDiv{
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    display: flex;
    justify-content: space-between;
}

#homeImageContainer {
    border-radius: 100%;
    margin: 5px auto 5px auto;
    vertical-align: middle;
}

#homeImgDiv {
    text-align: center;
}

#greetingTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeGreetingsText{
    margin: auto 15px auto 15px;
}

#contactPageContainer {
    text-align: center;
    height: 100vh;
}

#linkedInLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#gitHubLogo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#contactPageContainer {
    width: 80%;
    margin: auto;
    font-size: larger;
}

#contactForm {
    text-align: justify;
}

#contactForm label {
    display: block;
    width: 50%;
    margin: 10px auto 10px auto;
}
#contactForm input {
    display: block;
    width: 50%;
    margin: 10px auto 10px auto;
}
#contactForm textarea {
    display: block;
    width: 50%;
    height: 250px;
    margin: 10px auto 10px auto;
}
#contactForm button {
    display: block;
    width: 75px;
    margin: 10px auto 10px auto;
    border-radius: .25rem;
    background-color:rgb(92, 133, 151);
    font-weight: bolder;
    color: white;
}

#projectContainer {
    margin: 0px auto 50px auto;
    width: 80%;
    border-bottom: 1px grey solid;
    padding-bottom: 50px;
}
.projectWrapper {
    background-image: linear-gradient(25deg,rgb(162, 215, 240),rgb(135, 255, 189),rgb(135, 255, 189),rgb(162, 215, 240));
    padding: 20px; 
    margin: 20px;
    border-radius: .25rem;
}
.projectInnerContainer {
    background-color: rgb(245, 252, 255);
    padding: 20px; 
    margin: 20px;
    border-radius: .25rem;
}
.projectDescription {
    font-size: larger;
}
@media screen and (max-width: 1595px) {
    #nav {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: linear-gradient(
            25deg,
            rgb(162, 215, 240), 
            rgb(135, 255, 189),
            rgb(135, 255, 189),
            rgb(162, 215, 240)
        );
        position: fixed;
        width: 100%;
    }
    
    #navFlexDiv {
        display: flex;
        justify-content: right;
        padding-right: 2.5%;
    }
    
    .navButton {
        padding: 10px;
        margin: 5px;
        border-radius: .275rem;
        background-color:rgb(92, 133, 151);
        border: none;
        font-weight: bold;
        color: white;
        box-shadow: 2px 2px rgb(59, 59, 59);
    }
    .navButton:hover{
        background-color: rgb(68, 98, 110);
    }
    .navButton:active{
        transform: scale(0.9);
    }
    
    #mainContainer {
        background-color: rgb(245, 252, 255);
        padding-top: 150px;
        padding-bottom: 100px;
    }
    
    #homePageContainer {
        text-align: center;
    }
    
    #homeBodyDiv {
        width: 80%;
        margin: 20px auto 0px auto;
        text-align: left;
        font-size: x-large;
        hyphens: auto;
    }
    
    .homeBodyInnerDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #homeImageContainer {
        border-radius: 100%;
        margin: 15px auto 0px auto;
    }
    
    #homeImgDiv {
        text-align: center;
    }
    
    .homeGreetingsText{
        margin: 15px 0px 15px 0px;
    }
}

@media screen and (max-width: 1050px) {
    #nav {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: linear-gradient(
            25deg,
            rgb(162, 215, 240), 
            rgb(135, 255, 189),
            rgb(135, 255, 189),
            rgb(162, 215, 240)
        );
        position: fixed;
        width: 100%;
    }
    
    #navFlexDiv {
        display: flex;
        justify-content: right;
        padding-right: 2.5%;
    }
    
    .navButton {
        padding: 10px;
        margin: 5px;
        border-radius: .275rem;
        background-color:rgb(92, 133, 151);
        border: none;
        font-weight: bold;
        color: white;
        box-shadow: 2px 2px rgb(59, 59, 59);
    }
    .navButton:hover{
        background-color: rgb(68, 98, 110);
    }
    .navButton:active{
        transform: scale(0.9);
    }
    
    #mainContainer {
        background-color: rgb(245, 252, 255);
        padding-top: 150px;
        padding-bottom: 100px;
    }
    
    #homePageContainer {
        text-align: center;
    }
    
    #homeBodyDiv {
        width: 80%;
        margin: 20px auto 0px auto;
        text-align: left;
        font-size: large;
        hyphens: auto;
    }
    
    .homeBodyInnerDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #homeImageContainer {
        border-radius: 100%;
        margin: 15px auto 0px auto;
        width: 398.45px;
        height: 398.45px;
    }
    
    #homeImgDiv {
        text-align: center;
    }
    
    .homeGreetingsText{
        margin: 15px 0px 15px 0px;
    }
}

@media screen and (max-width: 600px) {
    #nav {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: linear-gradient(
            25deg,
            rgb(162, 215, 240), 
            rgb(135, 255, 189),
            rgb(135, 255, 189),
            rgb(162, 215, 240)
        );
        position: fixed;
        width: 100%;
    }
    
    #navFlexDiv {
        display: flex;
        justify-content: right;
        padding-right: 2.5%;
    }
    
    .navButton {
        padding: 10px;
        margin: 5px;
        border-radius: .275rem;
        background-color:rgb(92, 133, 151);
        border: none;
        font-weight: bold;
        color: white;
        box-shadow: 2px 2px rgb(59, 59, 59);
    }
    .navButton:hover{
        background-color: rgb(68, 98, 110);
    }
    .navButton:active{
        transform: scale(0.9);
    }
    
    #mainContainer {
        background-color: rgb(245, 252, 255);
        padding-top: 150px;
        padding-bottom: 100px;
    }
    
    #homePageContainer {
        text-align: center;
    }
    
    #homeBodyDiv {
        width: 80%;
        margin: 20px auto 0px auto;
        text-align: left;
        font-size: medium;
        hyphens: auto;
    }
    
    .homeBodyInnerDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #homeImageContainer {
        border-radius: 100%;
        margin: 15px auto 0px auto;
        width: 88%;
        height: 88%;
    }
    
    #homeImgDiv {
        text-align: center;
    }
    
    .homeGreetingsText{
        margin: 15px 0px 15px 0px;
    }
}